<!-- Nesse caso colocamos o ngsSelector para ativar a animação em todas as sessões que tiverem a classe "item",
por isso a sessão 5 não possuí nenhuma animação. Nesse exemplo só é acionado uma vez, pois não definimos nenhuma configuração -->

<div class="itemset" ngsRevealSet [ngsSelector]="'.item'">
  <div class="item item1">
    <h1> Sessão 1 </h1>
  </div>
  <div class="item item2">
    <h1> Sessão 2 </h1>
  </div>
  <div class="item item3">
    <h1> Sessão 3 </h1>
  </div>
  <div class="item item4">
    <h1> Sessão 4 </h1>
  </div>
  <div class="item5">
    <h1> Sessão 5 (Não anima) </h1>
  </div>
</div>
