<div class="info">
  <svg routerLink="" class="svg-inline--fa fa-left-long" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="left-long"
    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
    <path fill="currentColor"
      d="M177.5 98c-8.8-3.8-19-2-26 4.6l-144 136C2.7 243.1 0 249.4 0 256s2.7 12.9 7.5 17.4l144 136c7 6.6 17.2 8.4 26 4.6s14.5-12.5 14.5-22l0-88 288 0c17.7 0 32-14.3 32-32l0-32c0-17.7-14.3-32-32-32l-288 0 0-88c0-9.6-5.7-18.2-14.5-22z">
    </path>
  </svg>

  <p>Nesse exemplo colocamos o ngsReveal para ativar o elemento h1 de cada seção, como não colocamos nenhuma
    configuração a mais, ela só aciona a animação na primeira vez que cada elemento aparece.</p>
</div>

<div class="itemset">
  <div class="item item1">
    <h1 ngsReveal> Sessão 1 </h1>
  </div>
  <div class="item item2">
    <h1 ngsReveal> Sessão 2 </h1>
  </div>
  <div class="item item3">
    <h1 ngsReveal> Sessão 3 </h1>
  </div>
  <div class="item item4">
    <h1 ngsReveal> Sessão 4 </h1>
  </div>
  <div class="item5">
    <h1 ngsReveal> Sessão 5 (Não anima) </h1>
  </div>
</div>
